# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock
.env
.DS_Store

# Config files
.editorconfig
.prettierignore
.prettierrc.yml
tsconfig.json
tslint.json
tslint.yml
yarn.lock

# Tests
__mocks__
__tests__

# Documentaitons
docs/
*.md

# Examples
examples/
sandbox/

# TS files and maps
src/
*.map

# Rollup
.rp2_cache/
rollup.conifg.js

# Codecov
coverage/
